#page1{
    background-image: url("fond\ 2.png");
    background-size: cover ;
    text-align: center;
    margin-top: -650px;
    
    }
    
    *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        font-family:'Poppins';
        box-sizing: border-box;
    }
    
    .container{
        width: 100%;
        height: 100vh;
    }
    
    #menuIcon{
        width:40px;
        border-radius: 8% ;
        position: fixed;
        top: 40px;
        right: 60px;
        cursor: pointer;
        z-index: 100 ;
    }
    
    .menu-box{
        width: 0;
        height: 0;
        background: rgba(0, 0, 0, 0.521);
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content:center ;
        overflow: hidden;
    
        border-top-left-radius: 100%;
        transition: width 0.5s, height 0.5s, border-radius 0.5s;
    }
    
    .menu-box.open-menu{
        width: 100%;
        height: 100vh;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    
    }
    
    .menu-box.open-menu ul li{
        opacity: 1;
        transform: translateY(0);
        transition: transform 1s, opacity 1s;
        transition-delay: 0.5s;
    }
    
    
    
    .menu-box ul li {
        list-style: none;
        margin: 20px;
        text-align: center;
    
    
        opacity: 0;
        transform: translateY(30px);
    }
    
    .menu-box ul li a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        position: relative;
        text-shadow: 0 0 0 rgb(0, 255, 234);
        transition: text-shadow 0.5s, transform 0.5s;
    }
    
    .menu-box ul li a:hover{
        text-shadow: -3px 3px 0 rgb(0, 255, 234);
        transform: translateY(-6px);
    }
    
    .menu-box ul li a::after{
        content:'';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        bottom: 19px;
        right: -18px;
        opacity: 0;
        box-shadow: 0 0 0 rgb(0, 255, 234);
        transition: box-shadow 0.5s;
    }
    
    .menu-box ul li a:hover::after{
        opacity: 1;
        box-shadow: -2px 2px 0 rgb(0, 255, 234);
    }
    
    #contenu{
        text-align: center;
    }
    
    #logo-discord{
    height: 50px;
    margin-top: 65px;
    margin-right: 25px;
    
    }
    
    #logo-twitter{
        margin-bottom: 5px;
    }
    
    footer{
        background-color: rgba(255, 189, 189, 0.603);
        opacity: 45%;
        width: 207vh;
        height: 180px;
        margin-top: 417px;
    
    
        
    }
    
    .footer-content{
    margin-top: 140px;
    align-items: center;
    }
    
    .footer-bottom{
    margin-top: -110px;
    align-items: center;
    }
    #titre-reseaux{
        margin-top: -10px;
    }
    
    #copyright{
        margin-top: 55px;
    }
    
        @media (max-width:679px){
            .container{width: 95%;}
            .menu-box{width: 100%;}
            .footer{display: none;}
        }