#page1{
    background-image: url(fond\ 2.png);
     text-align: center;
     background-size: cover;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family:'Poppins';
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

    position: fixed;
}

#menuIcon{
    width:40px;
    border-radius: 8% ;
    position: fixed;
    top: 30px;
    right: 60px;
    cursor: pointer;
    z-index: 100 ;
}

.menu-box{
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:center ;
    overflow: hidden;

    border-top-left-radius: 100%;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
}

.menu-box.open-menu{
    width: 100%;
    height: 100vh;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

}

.menu-box.open-menu ul li{
    opacity: 1;
    transform: translateY(0);
    transition: transform 1s, opacity 1s;
    transition-delay: 0.5s;
}



.menu-box ul li {
    list-style: none;
    margin: 20px;
    text-align: center;


    opacity: 0;
    transform: translateY(30px);
}

.menu-box ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    position: relative;
    text-shadow: 0 0 0 rgb(0, 255, 234);
    transition: text-shadow 0.5s, transform 0.5s;
}

.menu-box ul li a:hover{
    text-shadow: -3px 3px 0 rgb(0, 255, 234);
    transform: translateY(-6px);
}

.menu-box ul li a::after{
    content:'';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    bottom: 19px;
    right: -18px;
    opacity: 0;
    box-shadow: 0 0 0 rgb(0, 255, 234);
    transition: box-shadow 0.5s;
}

.menu-box ul li a:hover::after{
    opacity: 1;
    box-shadow: -2px 2px 0 rgb(0, 255, 234);
}

































#contenu{
text-align: center;
}

#Support{
text-align: center;
color: aquamarine;
background-image: url(fond\ support.png);
}

#Support p{
    color: rgb(42, 50, 165);
    float: left;
    margin-top: 440px;
    
}

footer{
padding-top: 15px;
background-color: #D4B2A6;
opacity: 45%;
height:210px ;
margin-top: 330px;
transition: color .4s ease;
}

#logo-discord{
margin-bottom: 55px;  
margin-right: -570px ;
color: rgb(14, 227, 235);
}
#logo-tw{
    margin-right: 100px;
    margin-bottom: -55px ;
}

.footer-content{
    margin-top: -5px;
}

.footer-bottom{
    padding-bottom: 10px ;
    padding-left: 980px ;
    font-size: 11px;
}
